# Azure DevOps npm feed
registry=https://pkgs.dev.azure.com/saxobank/_packaging/NpmPublic/npm/registry/
@saxo:registry = "https://pkgs.dev.azure.com/saxobank/_packaging/NpmPrivate/npm/registry/"
always-auth=true
save-exact=true
